@charset "utf-8";


/* Header */
.navbar {
	background-color: #ffffff;
	height: 50px;
	/*border-bottom: 4px solid #D52B1E;*/
	color: #333333;
}
.header-button {
	width: 50px;
	height: 45px;
	background-color: #FFFFFF;
	border-color: #D5D5D5;
	border-style: none none none solid;
	border-width: thin;
	color: #333333;
}
.welcome {
	font-size: 14px;
	color: #333333;
}

/* Breadcrumb and Page Title*/
.breadcrumb {
	padding-top: 5px;
	padding-bottom: 2px;
	background-color: #ESESES;
	margin-top: -20px;
	font-size: small;
	color: #333333;
}
.page-title {
	color: #333333;
	font-size: 1.5em;
	font-weight: 500;
}

/* Login Page */
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #CCCCCC
}
.form input {
	font-family: Arial, sans-serif;
	background: #FFFFFF;
	width: 100%;
	margin: 0 0 20px;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #AAB3B6;
	border-radius: 5px;
	font-size: 14px;
	color: #333333
}
.form button {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #D52B1E;
	width: 100%;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #B52519;
}
.form .message {
	margin: 15px 0 0;
	color: #1155cc;
	font-size: 13px;
}
.form .message a {
	color: #1155cc;
	text-decoration: none;
	font-size: 13px;
}
body {
	background: #ffffff;
	font-family: Arial, sans-serif;
	/*min-height: 100vh;*/
}
.box-title {
	text-align: left;
	font-size: 14px;
	margin-bottom: 2px;
	margin-top: 0px;
	color: #333333;
	font-weight: bold;
}
.one {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	color: #333333;
}
.ems {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	color: #D52B1E;
}
.logo {
	text-align: center;
	margin-bottom: 20px;
}
.input-error {
	text-align: left;
	font-size: 13px;
	margin-bottom: 15px;
	margin-top: -20px;
	color: #D52B1E;
}

/* Cell Tech Home Page */
.search {
	padding-left: 0px;
	margin-top: 0px;
	color: #333333;
}
.search-details {
	/*height: 30px;*/
}
.table-header {
	color: #ffffff;
	background-color: #747676;
}
.table-row {
	color: #333333;
}
.table {
	font-size: small;
	color: #333333;
}
.tb-hover > tbody > tr:hover {
	color: #1155cc;
}

/* Switch Tech Home Page */
area:focus{
  border: none;
  outline-style: none; 
  -moz-outline-style:none;  
}

.table {
	margin-bottom: 2px;
}
.myswlist, .myroutelist {

       width:100%;
}

.myroutelist thead, .myroutelist tbody { display: block; }
.myswlist thead, .myswlist tbody { display: block; }

.myroutelist tbody {
height: 450px;
overflow-y:scroll;
}

.myswlist tbody {
height: 450px;
overflow-y:scroll;
}
 

.panel-info>.panel-heading {
	background-color: #f6f6f6;
	border-color:lightgray;
}

#container_mymarketswitches .table>tbody>tr>td {
	padding: 3px;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.router_search_box {
	    padding: 6px 6px !important;
}


td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

.dataTables_length{
display : none;
}
 
.dataTables_filter {
float:left !important;
}
.dataTables_filter input { 

width: 200px; 
border:1px solid gray; 
}

.drag_selected {
	background-color: gray !important;
}

.main-header .breadcrumb li a.active{font-weight: bold;}
.nav-tabs{border-bottom: 0px;}
.dataTables_filter input{background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.dataTables_filter input:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}

.nav-tabs .nav-link{border-radius: 8px 8px 0 0;}
.sec_with_map {
padding-left:2em;

}

.dt-buttons a {
	width: 3em;
	height: 4em;
	border: none !important; 
}
.dtexcelbtn
{ 
background: url(../img/xlsx.jpg) no-repeat center right !important;
}
.dtpdfbtn
{ 
background: url(../img/pdf.jpg) no-repeat center right !important;
}

.dtprintbtn{
background: url(../img/print.png) no-repeat center right !important;
}

.dt-buttons span  {
	display: none;
}

div.dt-buttons {
float:right;
}
div #my_swt_devlist { 
background-color:#f6f6f6 !important; 
}

.panel-default > .panel-heading-myswtlst{
background: #f6f6f6;  
}
.main-header .box{width:50%;}
.main-header .profile-box{text-align:right; padding:10px 10px 0px 0px;}


/*bootstrap 4.0 changes*/
/*a:not([href]):not([tabindex]){color:#D52B1E;}*/
.navbar-nav li{float:left;}
.navbar-brand {
    height: 50px;
    padding: 15px 15px;
}
.panel-default > .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f6f6f6;
}
.panel-body{padding:15px;}
.form-control{border-bottom: 1px solid #ced4da; }
.btn,.form-control{border-radius:4px !important;}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle
{
border-top-left-radius:0 !important;
border-bottom-left-radius:0 !important;	
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
border-top-right-radius:0 !important;
border-bottom-right-radius:0 !important;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
}
#lhspanel{padding-right:15px; padding-left:30px; }
.main-header .top-menu .nav > li{position: relative;display:block;padding: 20px;}
.main-header .top-menu .navbar-nav{display: inline-block; flex-direction:unset;}
.nav>li:hover{text-decoration:none;background-color:#eee}
.modal-lg {max-width: 65vw;}
#exampleModalIPM .modal-lg{max-width: 80vw;}
#ip-mgt-screen .dataTables_wrapper .dataTables_filter, #disc-mgt-screen .dataTables_wrapper .dataTables_filter{visibility: hidden;}
p.export {
margin-top:0;	
}
#ip-mgt-screen td{min-width:20%;}
#disc-mgt-screen #ip-new-table td{min-width:12.5%;}
#addDeviceModal input:focus:-moz-read-only { outline:0px !important; border:0px !important;}
#addDeviceModal input:focus:read-only {outline:0px !important;border:0px !important;}

.form-check-input {
	margin-left: 0;
	margin-top: -0.70rem;
	margin-bottom: 0;
}

.modal-body .form-control-plaintext {
	color: black;
	opacity: 1;
	line-height:1;
  width: 100%;
}
.modal-body label {
	font-weight: 600;
	margin-bottom: 0.1875rem;
	/* fix for Google Chrome wrapping input field labels */
	white-space: nowrap;
}
.modal-body .row {
	margin-bottom: 0.25rem;
}
.modal-body .form-group {
	margin-bottom:0.1rem;
}
.modal-body hr {
	margin-top: 0.1rem !important;
	margin-bottom: 0.1rem !important;
}
footer {
  position: absolute;
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
}
footer .panel-footer{text-align: center;}
/* editable fields styles for configuration page */
#cellsitech-config .form-group, #switchtech-config .form-group{margin-bottom:1px;margin-left:5px;}
#cellsitech-config #file_process .form-group input, #switchtech-config #file_process .form-group input{height:25px; font-size:12px; width:auto;}
#cellsitech-config #file_process, #switchtech-config #file_process{ max-height:420px; overflow-y:scroll;}

.form-editable-fields .form-control {
	background-color: #ffc0cb;
	display: inline !important;
	width: auto;
}
#file_process .cb-control label{font-size:14px;margin:0.1rem;vertical-align: top;font-weight:bold;}
.form-editable-fields .form-control-plaintext {
	background-color: #d8dada;
	display: inline;
}
#cellsitech-config .panel-default > .panel-heading, #switchtech-config .panel-default > .panel-heading{
    padding: 5px 15px;
}
#cellsitech-config .panel-body, #switchtech-config .panel-body{padding:5px;}   
#file_process label.readonly {
pointer-events:none;
color: black;
font-size: 14px;
margin-bottom: 0px;
background-color: #f7f7f8;
color: rgba(0,0,0,.9);
font-family : 'Inconsolata', monospace;
}
.cellsitech-configtxtinp {
background-color:pink;
box-shadow: none;
}
#cellsitech-backuprestore {
    width:1000px;
	margin-left:-40%; /* width/2) */ 
}
#cellsitech-backup {
    width:1000px;
	margin-left:-40%; /* width/2) */ 
} 
#restorebtn {
float:right;
}	
#restoremodalhdr {
background-color:lightgrey;	
text-align: right;
}
#backupmodalhdr {
background-color:lightgrey;	
}
#restoremodalhdrtxt{
margin-left:300px;
}
#backupmodalhdrtxt {
margin-left:310px;
}
#restoremoddet{
margin-left:210px;
}

.jf-form .custom-select {
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.jf-form .control-label {
  font-weight: 600;
  margin-bottom: 0;
}
.container-fluid{margin-bottom:15px;}
/*.footer{position:unset;}*/

.dropdown-nav-menu li.dropdown {
  position: static;
  float: right;
}

.dropdown-nav-menu li.dropdown:hover {
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-nav-menu li.dropdown.show {
  border-top: 0.125rem solid #dc3545;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-nav-menu li.dropdown.show a:focus {
  outline: none;
}

.dropdown-nav-menu li.dropdown .dropdown-item {
  border-bottom: 0.125rem solid #dc3545 !important;
}

.dropdown-nav-menu li.dropdown .dropdown-toggle {
  background: none;
  color: #007bff;
}

.dropdown-nav-menu .dropdown-menu {
  width: auto;
}

.dropdown-nav-menu .dropdown-menu.show {
  background: none;
  border: none;
}

.dropdown-nav-menu .dropdown-menu a {
  background: #fff;
  display: inline !important;
  margin: 0 0.25rem;
}

.dropdown-nav-menu .dropdown-menu a:hover {
  border: none;
  background-color: #d8dada;
}

.dropdown-nav-menu .dropdown-menu > li {
  display: inline-block;
}

.dropdown-nav-menu .dropdown-menu > li:hover {
  border: none;
}

.jf-form .custom-select {
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.jf-form .control-label {
  font-weight: 600;
  margin-bottom: 0;
}

/* afotey's edits */
#myswitchlist_delete, .btn-edit-list-delete {
	padding: 0 0.3125rem;
}

.scrollspy-example img {
  border: 1px solid #000;
  -webkit-box-shadow: 0.5125rem 0.5125rem 0.5125rem 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.5125rem 0.5125rem 0.5125rem 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0.5125rem 0.5125rem 0.5125rem 0px rgba(0, 0, 0, 0.75);
}

.card-body p , ul{
	text-align: left;
}

/* dropdown menu nav styles */
.dropdown-nav-menu li.dropdown {
  position: static;
  float: right;
}

.dropdown-nav-menu li.dropdown:hover {
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-nav-menu li.dropdown.show {
  border-top: 0.125rem solid #dc3545;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-nav-menu li.dropdown.show a:focus {
  outline: none;
}

.dropdown-nav-menu li.dropdown .dropdown-item {
  border-bottom: 0.125rem solid #dc3545 !important;
}

.dropdown-nav-menu li.dropdown .dropdown-toggle {
  background: none;
  color: #007bff;
}

.dropdown-nav-menu .dropdown-menu {
  width: auto;
}

.dropdown-nav-menu .dropdown-menu.show {
  background: none;
  border: none;
}

.dropdown-nav-menu .dropdown-menu a {
  background: #fff;
  display: inline !important;
  margin: 0 0.25rem;
}

.dropdown-nav-menu .dropdown-menu a:hover {
  border: none;
  background-color: #d8dada;
}

.dropdown-nav-menu .dropdown-menu > li {
  display: inline-block;
}

.dropdown-nav-menu .dropdown-menu > li:hover {
  border: none;
}
/* dropdown menu nav styles */

/* ALL buttons will have UPPERCASE letters, universally across this application */ 
button {
  text-transform: uppercase;
}
/* ALL buttons will have UPPERCASE letters, universally across this application */

.nav-pills .help.active {
  background-color: #dc3545;
}
.nav-pills .help.active {
  background-color: #dc3545;
}

/* ALL buttons will have UPPERCASE wording, so make ​this attribute global */
button {
  text-transform: uppercase;
}
.device-red{color:red;}